<!DOCTYPE html>
<html lang="ko">
  <head>
    <link type="text/css" rel="stylesheet" href="/../../assets/lionstyle.css">
    <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">
    <meta charset="utf-8">
    <title>Dream Come True</title>
  </head>
  <body>
    <nav>
      <div class="container">
        <h1>성일이 원이 안녕?</h1>
        <ul>
          <li><a href="#">Home</a></a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Work</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </div>
    </nav> 
    <header>
      <div class="container">
        <h2>Let's get away to NewYork city!</h2>
        <p>Do you like Cheese Whiz? Spray tan? Fake eyelashes? That's what is Lorem Ipsum to many—it rubs them the wrong way, all the way. It's unreal, uncanny, makes you wonder if something is wrong, it seems to seek your attention for all the wrong reasons. Usually, we prefer the real thing, wine without sulfur based preservatives, real butter, not margarine, and so we'd like our layouts and designs to be filled with real words, with thoughts that count, information that has value. In a professional context it often happens that private or corporate clients corder a publication to be made and presented with the actual content still not being ready. Think of a news blog that's filled with content hourly on the day of going live. However, reviewers tend to be distracted by comprehensible content, say, a random text copied from a newspaper or the internet.</p>
      </div>
    </header>
    <section>
      <div class="container">
         <article>
           <img src="http://static6.businessinsider.com/image/524dbb8b6bb3f7051ae26a31/the-best-new-york-city-restaurant-for-every-kind-of-cuisine.jpg" alt="food in NewYork">
           <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
</p>
         </article> 
         <article>
           <img src="https://www.thetimes.co.uk/travel/s3/growthtravel-prod/uploads/2016/08/NYpizzaAlamy.jpg" alt="food in NewYork">
           <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
</p>
         </article> 
         <article>
           <img src="https://i2.wp.com/www.theblindcook.com/wp-content/uploads/2016/12/Xian-Famous-Foods-noodles-1.jpg?resize=1024%2C635" alt="food in NewYork">
           <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
</p>
         </article> 
      </div>
    </section>
    <footer>
      <div class="container">
        <p>Copyright &copy; SoCool, 2017</p>
      </div>
    </footer>
  </body>
</html>
